.container {
  max-width: 300px;
  padding: 30px;
  border: 10px solid black;
}

.timeDisplay {
  font-size: 32px;
  font-weight: bold;
}

.btn {
  padding: 15px;
  border-radius: 20px;
  border: none;
}

.startBtn {
  background-color: lime;
}

.stopBtn {
  background-color: crimson;
}