.header {
  padding: 20px;
  border: 2px solid black;
  position: sticky;
  top: 0;
}

.lightTheme {
  background: lightgray;
  color: black;
}


.darkTheme {
  color: white;
  background-color: #333333;
}
